fastapi==0.95.0
uvicorn==0.23.0
openai==0.27.0
aiofiles==23.1.0
aiohttp>=3.8.1
anyascii>=0.3.0
bangla
bnnumerizer
bnunicodenormalizer
coqpit>=0.0.16
einops>=0.6.0
encodec>=0.1.1
flask>=2.0.1
g2pkk>=0.1.1
gruut[de,es,fr]==2.2.3
hangul_romanize
inflect>=5.6.0
jamo
jieba==0.42.1
librosa>=0.10.0
matplotlib>=3.7.0
nltk
num2words
numba>=0.57.0
pandas<2.0,>=1.4
pypinyin
pysbd>=0.3.4
pyyaml>=6.0
scikit-learn>=1.3.0
scipy>=1.11.2
soundfile>=0.12.0
torchaudio
trainer>=0.0.32
transformers>=4.33.0
umap-learn>=0.5.1
unidecode>=1.3.2
numpy==1.22.0
asyncio==3.4.3
openai-whisper